

  <form action = "History.html">

    
    <fieldset class = call2>
    <h1>Book Shop</h1>        
    <img src = "logo1.jpg" alt = "user logo" class="logo">
    <header id = "header">
     <div>
     <nav class="navbar">            
         <a class="brand" href="Home.html">Home</a>
         <a class="nav-item" routerLink="/login"> Login</a>
         <a class="nav-item" routerLink="/register"> Register</a>
     </nav>
     </div>
     </header>
    
    </fieldset>  
    <div class = "menubar">
     <ul type="none">
         <li>Books
                 <ul type="none">
                     <li> <a href="History.html">History</a> </li>
                     <li> <a href="Science.html">Science</a> </li>
                     <li> <a href="Novels.html">Novels</a></li>
                     <li> <a href="Environment.html">Environment</a></li>
                     <li> <a href="Architechture.html"> Architechture</a></li>
                 </ul>
         </li>
    
         <li>BestSellers</li>
         <li>FeaturedAuthors </li>   
         <li>AwardWinners</li>                               
     </ul>
    </div>
    <br> 
    <br>
    <br>
    <input type="searchbox" name = "searchbox" id = "searchbox" placeholder = "Search by Title,Author or Publisher" autofocus />
    
    
    </form>
    